{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "83"
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "loose": true
            }
        ]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "lib"
            }
        ]
    ]
}