.tooltip {
    pointer-events: none;
    position      : absolute;
    z-index       : 9;
    font-size     : 12px;
    padding       : 8px;
    background    : rgb(41, 50, 60);
    color         : rgb(160, 167, 180);
    overflow-y    : hidden;

    &.interactive {
        pointer-events: all;
        background    : #fcfcfc;
        color         : #444;
        overflow-y    : auto;
    }

    &.ais_site-tooltip, &.photoele_site-tooltip {
        width: 250px;
        label {
            color: #a7a3a3;
            line-height: 1.8;
        }
        .flex {
            justify-content: space-around;
        }
    }
}