.layers-control-wrap {
    .ant-collapse-item {
        &.ant-collapse-item-disabled > .ant-collapse-header {
            color: inherit;
            cursor: inherit;
        }
        .ant-collapse-header {
            .ant-collapse-arrow {
                font-size: 10px !important;
            }
        }
    }
    .base-layer-panel {
        div.ant-collapse-header, &.ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .over-layer-panel {
        border-top: 2px solid #DCDCDC;
        &.ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .base-layer-content, .over-layer-content {
        .ant-collapse-item:not(:last-child), .ant-list-item:not(:last-child) {
            border-bottom: 1px dashed #DCDCDC;
        }
    }
    .area-switch-content {
        &.group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            padding: 16px 0;
            .ant-radio-button-wrapper {
                width: 62px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                padding: 0;
            }
        }
    }
}