body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.fl {
  display: flex;
}

.page-left-sider-wrapper.ant-layout-sider {
  background-color: #fff;
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.page-right-sider-wrapper.ant-layout-sider {
  background-color: transparent;
  position: absolute;
  right: 0;
  height: 100%;
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 12px;

    .ant-btn {
      margin: 10px 12px;
    }
  }
}
.page-content {
  position: relative;
}